$color-primary: rgba(8, 166, 228, 1);
$color-primary-shadow: rgba(7, 172, 230, 0.16);
$color-redish: rgba(251, 59, 100, 1);
$color-green: rgba(85, 223, 180, 1);
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-grey: rgba(165, 165, 165, 1);
$color-dark-grey: rgb(104, 104, 104);
$color-light-grey: rgba(247, 247, 247, 1);
$color-basic-shadow: 0 3px 10px rgb(0 0 0 / 36%);