.header {
    height: $header-height;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: $color-white;
    position: relative;

    &__container {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__lang {
        font-size: 1rem;
        font-weight: 700;
        position: absolute;
        top: 15px;
        right: 30px;

        a {
            color: $color-grey;
            text-decoration: none;

            &:hover {
                color: $color-green;
            }
        }

        span {
            color: $color-grey;

            &:hover {
                color: $color-green
            }
        }
    }

    .nav {
        &__element {
            font-size: 1.25rem;
            font-weight: 700;
            color: $color-grey;
            letter-spacing: 0.1875rem;
            padding: 10px 15px;
            margin: 0 10px;
            border-bottom: 3px solid transparent;
            cursor: pointer;

            &:hover {
            color: $color-black;
            border-color: $color-green;
            }
        }
    }

    &__nav {
        display: flex;

        @include mobile {
            position: absolute;
            left: 0;
            top: 95px;
            flex-direction: column;
            align-items: center;
            background-color: white;
            width: 100%;
            padding-bottom: 20px;
            display: none;
        }
    }

    .menu {
        &__btn {
            display: none;

            @include mobile {
                &:checked {
                    ~ .header__nav {
                        display: flex;
                    }

                    ~ .menu__toggle {
                        span {
                            &:nth-child(1) {
                                transform: translate(2px, 5px) rotate(45deg);
                            }
                            &:nth-child(2) {
                                opacity: 0;
                            }
                            &:nth-child(3) {
                                transform: translate(2px, -5px) rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }

        &__toggle {
            display: none;

            span {
                width: 20px;
                height: 2px;
                display: block;
                margin-bottom: 3px;
                background-color: $color-primary;
                transition: 0.3s all ease-in-out;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            @include mobile {
                display: block;
            }
        }

    }
}